b{
    color:  #363636; 
    Font:Poppins;
    font-weight : 500;  
     
     line-height:12px;
     letter-spacing:3%;
}
ul b{
    float: right ;
}

ul .clr{
    color:#8B8B8B;
   
Font:
Poppins;
font-weight:
400;
font-size: 
8px;
line-height: 
12px;
letter-spacing: 
3%;
}

.mov{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    width: 86%;
    position: relative;
     left: 14%;
}
.sidebar{
    position: relative;
    top: -70px;
}

@media(max-width:992px){
    .navbar{
    width: 100%;
    left: 0%; 
    }
    .sidebar{
        top:0px;
    }
}